<!-- app/views/dados/index.html.erb -->

<h1>Dados Cadastrados</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Unidade Fornecedor</th>
      <th>Vendedor Fornecedor</th>
      <th>Taxas Maquininha</th>
      <!-- Adicione mais colunas conforme necessário -->
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
  <% if @dados.present? %>
    <% @dados.each do |dado| %>
      <tr>
        <td><%= dado.id %></td>
        <td><%= dado.unidade_fornecedor %></td>
        <td><%= dado.vendedor_fornecedor %></td>
        <td><%= dado.taxas_maquininha %></td>
        <!-- Adicione mais células conforme necessário -->
        <td>
          <%= link_to 'Detalhes', dado %>
          <%= link_to 'Editar', edit_dado_path(dado) %>
          <%= link_to 'Excluir', dado, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
    <% else %>
    <tr>
      <td colspan="2">Nenhum dado disponível</td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Novo Dado', novo_registro_path, class: 'btn btn-primary' %>
